.row-style {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1vw;
}

.request-form {
    margin: 2vw;
    align-items: center;
}

.req-btns {
    display: flex;
    align-items: flex-start;
    gap: 1.5vw;
    margin-left: 2vw;
}