.app-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #845FC2;
  min-height: 100vh;
  min-width: 100vw;
}

.main-buttons {
  display: flex;
  margin-top: 3vh;
  justify-content: center;
  gap: 1vw;
}

